backend/build
frontend/node_modules
tests/node_modules
data/
*/cmake-build-debug
.idea/
*.us
/backend/CMakeFiles/
/backend/.cmake
backend/Makefile
backend/Testing
/backend/CMakeCache.txt
/backend/cmake_install.cmake
/backend/**.ninja
/backend/backend
/backend/.ninja_deps
/backend/.ninja_log
