backend/build
frontend/node_modules
tests/node_modules
data/
*/cmake-build-debug
.idea/
test/code.us
/backend/CMakeFiles/
/backend/.cmake
backend/Makefile
backend/Testing
/backend/CMakeCache.txt
/backend/cmake_install.cmake
/backend/**.ninja
/backend/backend
/backend/.ninja_deps
/backend/.ninja_log
build/
backend/test/
backend/cmake-build-debug/
backend/.DS_Store
.vscode/tasks.json
.vscode/settings.json
.DS_Store
.vscode/
.vscode/settings.json
test/
CMakeFiles/clion-Default-log.txt
.idea
tests/backend
megalinter-reports/